Repository pyalarmdotcom/alarmdotcom: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, yamllint, toml-sort

.pre-commit-config.yaml:

default_language_version:
    python: python3.13

repos:
    - repo: local
      hooks:
          - id: ruff
            name: Ruff
            description: Run Ruff linter and autofixer
            entry: ruff check --fix
            language: python
            types: [python]

    - repo: local
      hooks:
          - id: mypy
            name: MyPy
            description: Run static type checking
            entry: mypy
            language: python
            types: [python]
            args: [--config-file, pyproject.toml]

    - repo: local
      hooks:
          - id: codespell
            name: Codespell
            description: Spell check source files
            entry: codespell
            language: python
            types: [text]
            additional_dependencies: [tomli]

    - repo: local
      hooks:
          - id: yamllint
            name: YAMLLint
            description: Lint YAML files using relaxed config
            entry: yamllint -d relaxed
            language: python
            types: [yaml]
            exclude: (\.vscode|\.devcontainer|\.github)

    - repo: local
      hooks:
          - id: toml-sort
            name: toml-sort
            description: Sort TOML files in place
            entry: toml-sort --in-place --all --ignore-case
            language: python
            types: [toml]

Fixes issue with light levels #467
  custom_components/alarmdotcom/light.py
Due: ruff, mypy

Update README.md
  README.md
Due: none

Bump pyalarmdotcomajax version. Should help with arming issues.
  custom_components/alarmdotcom/manifest.json
Due: none

Pre-commit config changed to re-enable use of pre-commit.ci.
  .pre-commit-config.yaml
  .taplo.toml
  .vscode/launch.json
  .vscode/settings.json
  custom_components/alarmdotcom/entity.py
  pyproject.toml
Due: ruff, mypy, yamllint, toml-sort

Linting config fixes to re-enable pre-commit.ci.
  .pre-commit-config.yaml
  .vscode/tasks.json
  requirements-dev.txt
  scripts/setup.sh
  scripts/sync_versions.py
Due: ruff, mypy, yamllint

Update pyalarmdotcomajax to make integration refresh via pull after WebSocket client reconnects.
  .pre-commit-config.yaml
  .taplo.toml
  custom_components/alarmdotcom/manifest.json
Due: yamllint, toml-sort

Pre-commit fixes.
  .vscode/settings.json
  custom_components/alarmdotcom/binary_sensor.py
  custom_components/alarmdotcom/climate.py
  pyproject.toml
  requirements-dev.txt
Due: ruff, mypy, toml-sort

Fixed typo that may impact silent arming.
  .pre-commit-config.yaml
  custom_components/alarmdotcom/manifest.json
Due: yamllint

Update manifest.json
  custom_components/alarmdotcom/manifest.json
Due: none

Implements @bumpaneer's fix for 'Arm Silently' no longer working after 4.0.0-beta.4 update. #463
  custom_components/alarmdotcom/alarm_control_panel.py
Due: ruff, mypy

HA dependency exceeds pre-commit.ci's max storage limit. Switching to pre-commit GitHub action.
  .github/workflows/dependency-review.yaml
  .github/workflows/pre-commit.yaml
Due: none

Update dependencies.
  .pre-commit-config.yaml
  pyproject.toml
  requirements-dev.txt
  scripts/upgrade_dependencies.py
Due: ruff, mypy, yamllint, toml-sort
